<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>715205924145-9iliad2hvhlaal2t8unb4lf9a0i6b9fr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715205924145-9iliad2hvhlaal2t8unb4lf9a0i6b9fr</string>
	<key>API_KEY</key>
	<string>AIzaSyC60SNMcb6dQ-qYK52uuG4F4ahI5Las3ZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>715205924145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.gvsu.cis.GeoCalculator</string>
	<key>PROJECT_ID</key>
	<string>geocalc-6f308</string>
	<key>STORAGE_BUCKET</key>
	<string>geocalc-6f308.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715205924145:ios:f822a8febf690950</string>
	<key>DATABASE_URL</key>
	<string>https://geocalc-6f308.firebaseio.com</string>
</dict>
</plist>